################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/Software/Scriptify/EntityLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Software/Scriptify/EntityLayer/obj/Debug/EntityLayer.csproj.AssemblyReference.cache
