<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntityModel" connectionString="data source=31.147.206.65;initial catalog=RPP2324_T16_DB;user id=RPP2324_T16_User;password=%RnRs#Vf;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>